#dark-mode{
    background-color: #202124;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width:80%; 
    margin-left: auto; 
    margin-right: auto;
}
#heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#nav-links{
    color: white;
}
#nav-links1{
    color: white;
}
#nav-links2{
    color: white;
}
#nav-links3{
    color: white;
}
.test{
    color: pink;
}
#button{
    background-color: white;
    color: black;
    border-radius: 2rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding: 20px;
}
nav{
    background-color: #39393a;
    margin-top: 2.5%;
    height: 2.5rem;
    padding-left: 0.5em;
    font-size: 1.25em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
#navbar{
    background-color: #39393a;
    margin-top: 2.5%;
    height: 2.5rem;
    padding-left: 0.5em;
    font-size: 1.25em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.centre{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}
.cards{
    color: black;
}
